.container {
    max-width: 500px;
    margin: 50px auto;
}

#grid {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    gap: 2px;
}

.block {
    width: 50px;
    height: 50px;
    background-color: #ddd;
}

.player {
    background-color: #ff8800;
}

.navigation-buttons {
    margin-top: 20px;
}

.navigation-buttons button {
    margin: 5px;
}

.upbutton{
    width: 100px;
    top: 600px;
    left: 675px;
    position: absolute;
    border-radius: 5px;
    color: black;

}

.downbutton{
    width: 100px;
    top: 650px;
    left: 675px;
    position: absolute;
    border-radius: 5px;
    color: black;
}

.leftbutton{
    width: 100px;
    position: absolute;
    border-radius: 5px;
    color: black;
}

.rightbutton{
    width: 100px;
    right: 540px;
    position: absolute;
    border-radius: 5px;
    color: black;
}

.navigate{
    color: #ff8800;
    vertical-align: middle;
    text-align: center;
}

